<html>

<body>
<div class="container">
  <div>
    <h2>Todo Setup</h2>
  </div>
  <div *ngIf="showEntity">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form method="post">
          <input [(ngModel)]="entity.id" name="id" type="hidden" class="form-control"/>

          <div class="form-group padding-left: 70px;">
            <h4><label for="toDoCode" class="label label-default">Code</label>
              <input [(ngModel)]="entity.toDoCode" name="toDoCode" type="text"
                     class="form-control"/></h4>
          </div>

          <div class="form-group padding-left: 70px;">
            <h4><label for="todoName" class="label label-default">Name#</label>
              <input [(ngModel)]="entity.todoName" name="todoName" type="text"
                     class="form-control"/></h4>
          </div>
          <div class="form-group">
            <h4><label for="status" class="label label-default">Status</label>
              <input [(ngModel)]="entity.status" name="status" type="radio" value="A" sele/>Active
              <input [(ngModel)]="entity.status" name="status" type="radio" value="I"/>Incative</h4>
          </div>

          <div>
            <a type="button" class="btn btn-primary" (click)="save()">Submit</a>
            <a type="button" class="btn btn-info" (click)="cancel()">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="showlist">

    <table class="table table-striped">
      <caption>List of Todo</caption>

      <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Status</th>
        <th><a type="button" class="btn btn-success" (click)="addNewItem()">Add Category</a></th>
      </tr>
      </thead>
      <tbody>
      <!-- <tr *ngFor="let emp of listEmployee; let i = index"> -->
      <tr *ngFor='let entity of listEntity; let i = index'>
        <td>{{entity.toDoCode}}</td>
        <td>{{entity.todoName}}</td>
        <td>{{entity.status}}</td>
        <td><a type="button" class="btn btn-primary" (click)="edit(entity.id)">Edit</a>
          <a type="button" class="btn btn-warning" (click)="delete(entity.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
